# API
PORT=3000
NODE_ENV=development

# Postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/notifications_db

# Redis
REDIS_URL=redis://redis:6379

# Kafka
KAFKA_BROKERS=localhost:9092

# Other
LOG_LEVEL=info
JWT_SECRET=change-me
